@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* APPLY TO ALL */
.body {
    @apply font-poppins m-0 p-0 box-border scroll-smooth transition-all duration-500
}

.btn {
    @apply hover:tracking-wider sm:hover:tracking-widest md:hover:tracking-btn duration-500 border-none rounded-lg text-xs sm:text-sm md:text-base text-white bg-green-700 inline-block py-2.5 px-7 my-5 mx-2.5 uppercase no-underline md:tracking-widest sm:tracking-wider tracking-wide ease-in
}

.icon {
    @apply md:w-6 md:h-6 w-5 h-5 text-green-700
}

.title {
    @apply text-center p-7
}

.title h3 {
    @apply text-black sm:text-3xl text-xl
}

.title h3 span {
    @apply text-green-700
}

.sub-title {
    @apply flex justify-center items-center mb-5
}

.sub-title p {
    @apply font-normal sm:text-xl text-black text-lg pl-2
}


/* NAVIGATION BAR  */
.header {
    @apply flex justify-between items-center fixed top-0 left-0 w-full px-10 py-8 sm:px-20 z-[10000] duration-500
}

.header .link, .side-nav-bar .link {
    @apply font-semibold text-xl md:font-medium md:text-base text-white hover:border hover:rounded-lg hover:border-green-700 hover:p-2 duration-500 ease-in
}

.active {
    @apply border rounded-lg border-white md:border-green-700 p-2 duration-150 ease-in
}

.header.sticky {
    @apply bg-white py-10 sm:px-24 shadow-4xl
}

.header.sticky .link {
    @apply text-black
}

.header .menu-toggle {
    @apply w-6 h-6 text-white mr-4 md:hidden block cursor-pointer
}

.header.sticky .menu-toggle {
    @apply text-black
}

.header .navigation {
    @apply relative md:mr-6 hidden md:flex
}

.side-nav-bar {
    @apply w-full h-[calc(100%-100px)] fixed left-0 justify-center items-center flex-col bg-green-700 rounded-none md:hidden z-[10000] duration-500 flex
}

.side-nav-bar .link {
    @apply hover:border-white ml-[-20%]
}

.theme-icon {
    @apply md:w-6 md:h-6 w-5 h-5 rotate-180 text-green-700 cursor-pointer md:hover:w-7 md:hover:h-7 hover:w-6 hover:h-6 duration-500 ease-in
}


/* HOME */
.banner {
    @apply relative w-full min-h-screen flex justify-center items-center bg-cover lg:px-0 px-6 min-[400px]:px-10
}

.banner .content {
    @apply p-5 max-w-4xl text-center rounded-2xl shadow-3xl border-t border-l border-solid border-white/[.5] bg-mirror-gray/[.062] backdrop-blur-xs
}

.banner .content .name {
    @apply text-base font-semibold min-[500px]:font-normal min-[400px]:text-xl min-[500px]:text-3xl sm:text-4xl md:text-5xl text-white
}


.banner .content .profession {
    @apply font-semibold min-[500px]:font-normal text-sm min-[400px]:text-lg min-[500px]:text-2xl sm:text-3xl md:text-4xl text-green-700 mt-7
}

.banner .content .description {
    @apply text-white text-xs min-[400px]:text-base min-[500px]:text-lg sm:text-xl md:text-2xl mt-5 tracking-widest
}


/* ABOUT */
.box-container {
    @apply flex justify-center items-center
}


.inbox-container {
    @apply flex-wrap justify-center ml-8 flex-col min-[992px]:flex-row flex
}


.box-container .inbox-container .box {
    @apply rounded-xl m-6 min-[992px]:w-[30%] h-[25%] md:h-[30%] text-center p-1 bg-[#DFD8D81F] shadow-2xl w-[90%] min-[992px]:ml-0 min-[561px]:ml-[3%] ml-0
}

.box-container .inbox-container .box .image {
    @apply sm:h-72 w-[100%] rounded-lg overflow-hidden h-64
}

.box-container .inbox-container .box .image img {
    @apply h-[100%] w-[100%] object-cover transition duration-200 ease-linear
}

.box-container .inbox-container .box:hover .image img {
    @apply scale-125
}

.box-container .inbox-container .box .content .duration {
    @apply relative top-[-16px] sm:p-1 inline-block bg-[#B1A7A7D8] sm:rounded-md p-0.5 rounded
}

.box-container .inbox-container .box .content .duration span {
    @apply sm:text-xl my-0 mx-4 text-black text-lg
}

.box-container .inbox-container .box .content .duration a:hover {
    @apply text-green-700
}

.box-container .inbox-container .box .content h3 {
    @apply text-black text-sm sm:text-base
}

.box-container .inbox-container .box .content p {
    @apply text-black p-4 text-left text-sm sm:text-base duration-500 ease-in
}

.explore {
    @apply flex justify-center items-center bg-[#d4cbcb59] w-full min-[555px]:h-52 md:h-64 min-[555px]:flex-row flex-col h-full min-[555px]:px-0 px-10 py-6
}

.explore .e-box {
    @apply w-full min-[555px]:w-36 h-24 md:w-72 md:h-36 bg-white m-3 rounded md:rounded-lg md:p-8 p-4 shadow-2xl
}

.explore .e-box .e-content {
    @apply text-center
}

.explore .e-box .e-content h1 {
    @apply md:text-4xl font-semibold text-green-700 text-2xl
}

.explore .e-box .e-content p {
    @apply md:text-base text-xs
}


/* SKILLS */
.skill-container {
    @apply flex flex-col md:grid md:grid-cols-2 md:gap-4 py-2 px-8 md:even:mr-14 even:mr-0  md:even:ml-5 even:ml-0
}


.skill-container .skill {
    @apply flex flex-col p-5 bg-[#dfd8d81f] shadow-2xl rounded-lg md:m-5 m-0 md:mb-0 mb-6 w-full border-solid border-2 border-white 
}


.skill-container .skill .skill-title, .skill-rate {
    @apply flex justify-center items-center
}

.skill-container .skill .skill-title h2 {
    @apply text-black
}


.skill-bar {
    @apply flex flex-wrap justify-center flex-col py-1 px-2.5 bg-[#dfd8d81f] rounded-lg w-full
}


.skill-bar .bar {
    @apply my-5 mx-0 first:mt-0
}


.skill-bar .bar .sub-skill {
    @apply mb-1
}

.skill-bar .bar .sub-skill span {
    @apply text-sm font-light opacity-0 text-black animate-text last:font-normal flex justify-between flex-row
}

.skill-bar .bar .progress-line{
    position: relative;
    border-radius: 3px;
    height: 10px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background: #e2dede;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05), 0px 1px rgba(255,255,255,0.8) ;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
} 


.skill-bar .bar .progress-line span{
    height: 100%;
    background-color: #f4d03f;
    background-image: linear-gradient(to bottom left,green, yellow); 
    position: absolute;
    border-radius: 3px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s  cubic-bezier(1,0,0.5,1) forwards;
} 


@keyframes animate{

    100%{
        transform: scaleX(1);
    }

}


/* SERVICES */


.swiper {
    @apply w-full pt-12 pb-12
  }

  .swiper-slide {
    @apply bg-center bg-cover w-72 rounded-lg flex-wrap
  }

  .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right{
    @apply bg-none
  }
  
  .service-box{
    @apply relative w-60 overflow-hidden duration-500
  }

  .swiper-slide-active .service-box{
    @apply z-[1] shadow-2xl
  }

  .service-box .service-img{
    @apply absolute top-0 left-0 w-full h-full rounded-lg
  }

  
  .swiper-slide-active  .service-box .service-img:before{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg,#746868,#0e0d0d);
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;
    border-radius: 10px;
  
  }

  .swiper-slide-active  .service-box .service-img{
    @apply before:opacity-100
  }

  .service-box .service-img img{
    @apply absolute top-0 left-0 w-full h-full object-cover rounded-lg
  }

  .service-box .service-content{
    @apply absolute top-0 left-0 w-full h-full z-[2] flex p-5 items-center rounded-lg
  }
  
  .service-box .service-content h2{
    @apply text-white duration-500 uppercase mb-1 text-[15px] translate-y-52
  }

  .swiper-slide-active .service-box .service-content h2{
    @apply translate-y-0 delay-[600ms]
  }

  .service-box .service-content p{
    @apply text-white duration-500 text-sm translate-y-52 
  }

  .swiper-slide-active .service-box .service-content p{
    @apply translate-y-0 delay-[700ms]
  }